<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>约饭局</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
	<link rel='stylesheet' href='/stylesheets/datepicker.css' />

	<style type="text/css"> 
      body { 
		padding-top: 60px; 
		padding-bottom: 40px; 
      }
    .datepicker td, .datepicker th {
    	width: 60px;
    	height: 30px;
    	font-size: 16px;
	} 
    </style>
</head>
<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/">约饭局</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active">
							<a href="/">首页</a>
						</li>
						<li>
							<a href="/login">登入</a>
						</li>
						<li>
							<a href="/reg">注册</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="container" class="container">
		<form class="form-horizontal" method="post" action="/submitEventDate">
			<input type="hidden" id="event_id" name="event_id" value="<%=event_id%>">
			<fieldset>
				<div class="row">
					<div class="span10">
				<legend>选择您空闲的时间~</legend>

				<div class="control-group">
					<label class="control-label" for="eventName">活动名称：</label>
					<div class="controls">
						<input type="text" id="eventName" readonly name="eventName" value="<%=name%>">
					</div>
				</div>
				<div class="control-group" style="">
					<label class="control-label" for="dp1">活动时间：</label>
					<div class="controls" style="display:inline-block;margin-left:10px">
						<% for(i=0;i<rowRst.length;i++){
							var when_seq = rowRst[i].when_seq;
							var when_describe=  rowRst[i].when_describe;
							var year = when_describe.substr(0,4);
							var month = when_describe.substr(5,2);
							var day = when_describe.substr(8,2);

						%>
							<div class="dayToChoose" style="border:1px solid;width:100px;height:120px;border-radius:5px;display:inline-block;">
								<table class=" table-condensed" style="width:100%">
									<thead>
										<tr>
											<th colspan="5" class="datepicker-switch"> <%=year%>年 <%=month%>月</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="day" colspan="5" rowspan="6" style="font-size:50px;text-align:center;padding-top:20px;padding-bottom:20px"><%=day%></td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<th  colspan="5" class="datepicker-switch"style="font-size:20px">星期一<i  id="choose" class="icon-ok" style="display:none"></i></th>
										</tr>
									</tfoot>
								</table>
							</div>
						<%}%>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="where">活动地点：</label>
					<div class="controls">
						<input type="text" name="where" id="where" placeholder="去哪儿？？？"></div>
				</div>
				<div class="control-group">
					<label class="control-label" for="content">活动描述：</label>
					<div class="controls">
						<textarea rows="5" name="content" id="content" placeholder="腐败活动都干些啥，和小伙伴们说说~"><%=comment%>
						</textarea>
					</div>

				</div>
				<div class="control-group">
					<label class="control-label" for="content">活动参与人</label>
					<div class="controls">
						<textarea rows="5" name="participate" id="participate" placeholder="写下参与者姓名吧,人名之间可用逗号分号~"></textarea>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-primary" id="save">提交！</button>
					<!--	<button type="submit" class="btn btn-primary">通过微博通知小伙伴们</button>
						<button type="submit" class="btn btn-primary">通过qq通知小伙伴们</button>-->
					</div>
				</div>
			</div>
			<div class="span2" style="margin-top:200px;">
				<ul id="dateList">
				</ol>
			</div>
			</div>
			</fieldset>
		</form>
		<hr />
		<footer>
			<p>
				<a href="http://www.byvoid.com/" target="_blank">约饭局</a>
			</p>
		</footer>
	</div>
</body>
	<script src="/javascripts/jquery-1.10.2.js"></script>
	<script src="/javascripts/bootstrap.js"></script>
	<script src="/javascripts/bootstrap-datepicker.js"></script>
	<script type="text/javascript">
		$('#save').click(function(event) {
			eventForm.submit();
		});
		$('.dayToChoose').click(function(event) {
			alert(1);
			alert($(this).children('#choose').html());
		});
</html>