<script language="javascript" type ="text/javascript">
var event_password="";
		$(document).ready(function() {
			$(window).load(function() {
		            $("body").textSearch("<%=searchWord%>",{markColor: "red",divStr: " "});
		            $('#hint').hide();
		            //$('#newPartDiv').hide();
		        });
		 });
		 
		 function submit(eventId,participantName){
		 	$('#eventId').val(eventId);
		 	$('#participantName').val(participantName);
		 	$('#newPartName').val($('#newPart').val());
//		 	alert($('#eventId').val()+","+$('#participantName').val());
		 	document.thisForm.submit();
		 }
		 
		 function ajaxGetParts(eventId) {
            $.post('/ajaxQ',{ querySql: "select event_participant_name from dat_event_participant t where t.event_id= '1' " }, function(data) {
            	    var content="";
            	    for(i=0;i<data.rstLength;i++){
            	    	content+="<p><a href='#' onclick =\"submit(\'"+eventId+"\',\'"+data.rowRst[i].event_participant_name+"\')\">"+data.rowRst[i].event_participant_name+"</a></p>";
            	    }
            	    $("#userList").html(content);
			});
        }
		 
		 function forward(){
		  	var md_pwd=$.md5($('#password').val());
		  	if(event_password==md_pwd){
			 	$('#pass_entry').modal('toggle');
			 	ajaxGetParts(1);
			 	$('#chose_participant').modal('toggle');
		 	}else{
		 		$('#hint').show();
		 	}
		 }
		 
		 function setPwd(pwd){
		 	event_password=pwd;
		 }
</script>
<div>
	<a href="/"> <img src="/images/logo1.png"  alt="简单轻松约饭局" /></a>
</div>
	<div class="view">
		<div class="span12">
			<form class="form-search" method="post" action="/searchRst">
				<input type="text" class="input-xxlarge search-query" name="searchText" value="<%=searchWord%>"/> 
				<button type="submit" class="btn">搜索</button>
			</form>
		</div>
	</div>
	
	<div class="span12">
		<ul class="nav nav-pills">
			<li class="<%=searchType=="all"?"active":""%>">
				<a href="/searchRst/all/<%=searchWord%>">全部</a>
			</li>
			<%if(searchWord!=""){%>
			<li class="<%=searchType=="name"?"active":""%>">
				<a href="/searchRst/name/<%=searchWord%>">饭局名</a>
			</li>
			<li class="<%=searchType=="creator"?"active":""%>">
				<a href="/searchRst/creator/<%=searchWord%>">创建人</a>
			</li>
			<li class="<%=searchType=="comment"?"active":""%>">
				<a href="/searchRst/comment/<%=searchWord%>">简介</a>
			</li>
			<%}%>
		</ul>
		
	<div  class="span12">
搜索到关于“<%=searchWord%>”的结果如下：共有数据<%=rstLength%>条
	</div>
	
		<% for(i=0;i<rstLength;i++){
			var name = rowRst[i].event_name;
			var creator=  rowRst[i].event_creator;
			var is_pwd=  rowRst[i].event_ispwd;
			var password=  rowRst[i].event_password;
			var ctime = rowRst[i].event_crtime;
			var comment= rowRst[i].event_comment;
		 %>
		<h2>
			<%if(is_pwd==1){%>
				<img src="/images/event_lock.gif"  alt="加密" />
				<a href="#pass_entry" role="button"  data-toggle="modal" onclick="setPwd('<%=password%>');">活动名称：<%=name%></a>
			<%}else{%>
				<a href="#chose_participant" role="button"  data-toggle="modal" onclick="ajaxGetParts(1);">活动名称：<%=name%></a>
			<%}%>
		</h2>
		<p>
			创建时间： <%=ctime%>
		</p>
		<p>
			活动描述： <%=comment%>
		</p>	
		<%}%>
	</div>
	
<button type="button" data-toggle="modal" data-target="#chose_participant">Launch modal</button>

<div id="pass_entry" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>请输入密码</h3>
  </div>
  <div class="modal-body">
    <p>
   	 请输入密码：<input type="text" class="input-large search-query" id="password" name ="password" />
    </p>
	<p id="hint" name ="hint">密码是123，请输入正确密码</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">取消</a>
    <a href="#" class="btn" onclick="forward();">确定</a>
  </div>
</div>


<div id="chose_participant" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">选择用户</h3>
  </div>
    <p>请选择参与者</p>
  <div class="modal-body" id='userList'>
  </div>
  <p><a href='#' onclick='showCreatPart()'>如果您不是上述人员，请创建</a></p>
  <p id="newPartDiv" name ="newPartDiv"><input  id="newPart" name ="newPart" value="" /></p>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary" onclick="submit('1','gao');">确定</button>
  </div>
</div>

<form name="thisForm" class="form-horizontal" method="post" action="/enterMain">
	<input type="hidden" id="eventId" name ="eventId" value="">
	<input type="hidden" id="participantName" name ="participantName" value="">
	<input type="hidden" id="newPartName" name ="newPartName" value="" />
</form>