<!DOCTYPE html>
<html>
<head>
  <title>约饭局-搜索结果</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="images/favicon.ico" />
  <!-- Bootstrap -->
  <link href="stylesheets/bootstrap.css" rel="stylesheet" />
  <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet" />
	<style>

      body {
          padding-top: 20px;
          font-size: 16px;
          font-family: "微软雅黑",serif;
      }
111
      h1 {
          font-family: "微软雅黑", Arial, sans-serif;
          font-weight: 400;
          font-size: 40px;
      }

      .margin-base-vertical {
          margin: 40px 0;
      }

  </style>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
				<img src="/images/logo1.png"  alt="简单轻松约饭局" />
			<form class="form-search">
				<input type="text" class="input-xxlarge search-query" /> 
				<button type="submit" class="btn">搜索</button>
			</form>
		</div>
	</div>
	<div>
		搜索到关于“<%=searchWord%>”的结果如下：共有数据<%=rstLength%>条
	</div>
	<div class="row-fluid">
		<div class="span12">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">全部</a>
				</li>
				<li>
					<a href="#">饭局名</a>
				</li>
				<li>
					<a href="#">创建人</a>
				</li>
				<li>
					<a href="#">简介</a>
				</li>
			</ul>
			<h2>
				约炮活动A计划（<%=rowRst[0].host%>+<%=rowRst[0].db%>+<%=rowRst[0].user%>）
			</h2>
			<p>
				创建人： 高强    创建时间 ：2013年8月9日  简介：约炮活动A计划
			</p>
			<p>
				<a class="btn" href="#">点击进入 »</a>
			</p>
			<h2>
				约炮活动B计划（<%=rowRst[1].host%>+<%=rowRst[1].db%>+<%=rowRst[1].user%>）
			</h2>
			<p>
				创建人： 朱旻    创建时间 ：2013年8月9日  简介：约炮活动B计划
			</p>
			<p>
				<a class="btn" href="#">点击进入 »</a>
			</p>
			<h2>
				约炮活动C计划（<%=rowRst[2].host%>+<%=rowRst[2].db%>+<%=rowRst[2].user%>）
			</h2>
			<p>
				创建人：MM    创建时间 ：2013年8月9日  简介：约炮活动C计划
			</p>
			<p>
				<a class="btn" href="#">点击进入 »</a>
			</p>
			<div class="pagination">
				<ul>
					<li>
						<a href="#">Prev</a>
					</li>
					<li>
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">Next</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
		</div>
	</div>
</div>
  

</body>
</html>