<div>
	<img src="/images/logo1.png"  alt="简单轻松约饭局" />
</div>
	<div class="view">
		<div class="span12">
			<form class="form-search" method="post" action="/searchRst">
				<input type="text" class="input-xxlarge search-query" name="searchText" /> 
				<button type="submit" class="btn">搜索</button>
			</form>
		</div>
	</div>
	
	<div class="span12">
		<ul class="nav nav-pills">
			<li class="active">
				<a href="#">全部</a>
			</li>
			<li>
				<a href="#">饭局名</a>
			</li>
			<li>
				<a href="#">创建人</a>
			</li>
			<li>
				<a href="#">简介</a>
			</li>
		</ul>
		
	<div  class="span12">
搜索到关于“<%=searchWord%>”的结果如下：共有数据<%=rstLength%>条
	</div>
	
		<% for(i=0;i<rstLength;i++){ %>
		<h2>
			<%=rowRst[i].event_name%>
		</h2>
		<p>
			创建人： <%=rowRst[i].event_creator%>
		</p>
		<p>
			创建时间： <%=rowRst[i].event_crtime%>
		</p>
		<p>
			活动描述： <%=rowRst[i].event_comment%>
		</p>
		<p>
			<a class="btn" href="#">点击进入 »</a>
		</p>
		<%}%>
	</div>
	
	<div class="row-fluid">
		<div class="span12">
		<a class="btn" href="#">显示更多</a>
		</div>
	</div>
